<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список новостей</title>
</head>
<body>
    <h1> Список новостей </h1>
    {% if news_list %}
        <ul>
            {% for news in news_list %}
            <li>
                <a href="{% url 'detail_news' news.id %}"><b>Новость: </b>{{news.title}}. <b>Дата создания: </b>{{news.created_at}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        Новостей нет
    {% endif %}
    <p>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first page</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous page</a>
        {% endif %}
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next page</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last page &raquo;</a>
        {% endif %}
    </p>
</body>
</html>